* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  background-image: url("../img/wall.png");
}

header h1 {
  font-family: "Sometype Mono", serif;
  font-style: italic;
  font-size: 2.5rem;
}

body {
  background-image: url("../img/cork.png");
}
main {
  font-family: "Edu TAS Beginner", serif;
}
.card {
  position: relative;
}
#pin {
  width: 30px;
  position: absolute;
  top: -15px;
  left: 45%;
}

#overlay-div {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-div {
  background-color: white;
  margin: 0 auto;
  /* margin-top: 30vh; */
}

/* Applichiamo stile alle immagini del div modal */
#img-in-modal {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Effetti over sulle immagini nelle card */
.card .real-img-card:hover {
  /* Transitions serve per rendere fluido il movimento */
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;

  /* Transform modifiche la grandezza e la rotazione dell'immagine */
  transform: scale(1.1) rotate(10deg);
  /* box-shadow aggiunge l'ombra sotto */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Responsive title */
@media screen and (min-width: 425px) {
  header h1 {
    font-family: "Sometype Mono", serif;
    font-style: italic;
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 768px) {
  header h1 {
    font-family: "Sometype Mono", serif;
    font-style: italic;
    font-size: 4rem;
  }
}
