* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  background-image: url("../img/wall.png");
}

header h1 {
  font-family: "Sometype Mono", serif;
  font-style: italic;
  font-size: 2.5rem;
}

body {
  background-image: url("../img/cork.png");
}
main {
  font-family: "Edu TAS Beginner", serif;
}
.card {
  position: relative;
}
#pin {
  width: 30px;
  position: absolute;
  top: -15px;
  left: 45%;
}

#overlay-div {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-div {
  background-color: white;
  width: 30vw;
  margin: 0 auto;
  /* margin-top: 30vh; */

}

/* Responsive title */
@media screen and (min-width: 425px) {
  header h1 {
    font-family: "Sometype Mono", serif;
    font-style: italic;
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 768px) {
  header h1 {
    font-family: "Sometype Mono", serif;
    font-style: italic;
    font-size: 4rem;
  }
}
